<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Paket</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="order-message">
<h1></h1>
<a class="order-btn" href="/"></a>

<script src="scripts/content.js"></script>
<script>
    let selectedLanguageIndex

    if (localStorage.getItem('selectedLanguageIndex')) {
        selectedLanguageIndex = localStorage.getItem('selectedLanguageIndex')
    } else {
        selectedLanguageIndex = 0
    }

    const {thank_for_order, } = content[selectedLanguageIndex]

    function renderOnChangeLanguage(languageIndex = 0) {
        const {thank_for_order, to_home} = content[languageIndex]
        document.querySelector('.order-message h1').textContent = thank_for_order
        document.querySelector('.order-message .order-btn').textContent = to_home
    }

    renderOnChangeLanguage(selectedLanguageIndex)
</script>
</body>
</html>